*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
}


nav{
    background: #ffffff;
    width: 100%;
    height: 8%;
    padding:15px 30px;
    display:flex;
    align-items: center;
    justify-content:right;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav a:hover { color: #bc08c5; }
nav i{
    padding:6px;
    background: black;
    color: white;
    border-radius: 50%;
    font-size: 15px;
}


/* #b1{
    background-color: white;
    height: 30%;
    width: 100%;
}
#b1 p{
    width:35%;
    padding:10px 0px 10px 20px;
    font-family: gilroy;
    font-size: 7.5vh;
    line-height: 8vh;
} */

/* section{
    position:relative;
    display:grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    background: #ffffff;
}
#p1{
    grid-column: 1;
    background: #c0a8a8;
    font-size: 15px;
    padding:10px 0px 10px 20px;
    width: 100%;
    height: 100%;
} 
 #p2{
    padding: 20px;
    grid-column: 2;
    display: grid;
    background: #b11919;
    width: 100%;
    height: 100%;
}
#op1{
    padding: 20px;
    background: grey;
    margin: 10px;
}
#op1 a{
    padding :10px;
    background: rgb(255, 255, 255);
}
#op2{
    padding: 20px;
    background: yellow;
    margin: 10px;
}
#op2 a{
    padding :10px;
    background: rgb(255, 255, 255);
    text-decoration: none;
}
#op3{
    padding: 20px;
    background: violet;
    margin: 10px;
    
}
#op3 a{
    padding :10px;
    background: rgb(255, 255, 255);
    text-decoration: none;
} */


#up{
    width: 100%;
    padding: 10px 50px;
    font-family: gilroy;
    font-size: 5vw;
    font-weight: 400;
    line-height: 5vw;
}

#down{
    height: 120px;
    width: 100%;

    display:flex;
    justify-content: space-between;
}
#down p{
    padding: 10px 50px;
    font-size: 1vw;
    font-weight: 100;
    line-height: 1vw;
}
#right{
    width: 30%;
    padding: 0px 50px;
}
.ele{
    margin: 0px;
    border-top: 2px solid black;
    font-family: gilroy;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ele i{
    font-size: 1.5vw;
    opacity: 0;
}
.ele:hover i{
    opacity: 1;
}
.ele:hover{
    background: rgb(189, 186, 186);
}

.ele a{
    padding: 10px 0px;
    color: black;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 300;
    line-height: 1vw;
}
.ele:hover a{
    /* text-decoration: underline; */
    color: #b507be;
}

#imag{
    height:100%;
    width: 100%;
    background: red;
    background: url(https://images.unsplash.com/photo-1605614339747-6ad39bd5e7c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position:0% 20%;
}


@media(max-width:600px) {

    nav{
        width: 100%;
        height: 10%;
        display:flex;
        align-items: center;
        justify-content:right;
        gap: 10px;
    }
    nav a{
        font-family: PlayFair Display;
        font-size: 13px;
        text-decoration: none;
        color: #000;
        font-weight: 100;
        display: none;
        /* we make reponsive one good by hiding it for menu */
    }
    nav a:hover { color: #bc08c5; }
    nav i{
        margin-top:3px;
        padding:10px;
        background: black;
        color: white;
        border-radius: 50%;
        font-size: 17px;
        font-weight: 50;
    }

    #b1{
        width: 100%;
        height: 60%;
    }
    #up{
        width: 100%;
        padding: 50px 30px;
        font-family: gilroy;
        font-size: 9vw;
        font-weight: 500;
        line-height: 9vw;
    }
    
    #down{
        height: 55%;
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    #down p{
        padding: 30px 30px;
        font-size: 3.5vw;
        font-weight: 10;
        line-height: 3.5vw;
    }
    #right{
        padding: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ele{
        border-top: 1.5px solid black;
        font-family: gilroy;
    }
    .ele i{
        font-size: 3.5vw;
        opacity: 0;
    }
    .ele:hover i{
        opacity: 1;
    }
    .ele:hover{
        background: rgb(244, 220, 220);
    }
    
    .ele a{
        text-decoration: none;
        color: black;
        font-size: 3.5vw;
        font-weight: 300;
        line-height: 3.5vw;
    }
    .ele:hover a{
        /* text-decoration: underline; */
        color: #df75d7;
    }

    #imag{
        height: 30%;
        width: 100%;
        background: url(https://images.unsplash.com/photo-1605614339747-6ad39bd5e7c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size:cover;
    }
}